# general file excludes
~*.tmp
*~
~$*

# ignore Xilinx ISE files
/tests/Xilinx\ ISE/**/*.*
/tests/Xilinx\ ISE/**/ise
!/tests/Xilinx\ ISE/**/*.xise
!/tests/Xilinx\ ISE/**/iseconfig/filter.filter

# ignore Xilinx Vivado files
/tests/Xilinx\ Vivado/**/*.*
!/tests/Xilinx\ Vivado/**/*.xpr

# ignore QuestaSim files
/tests/QuestaSim/*
/tests/QuestaSim/**/*.*
!/tests/QuestaSim/*.cmd
!/tests/QuestaSim/*.log

# ignore GHDL files
/tests/ghdl/**/*.*
!/tests/ghdl/*.cmd
!/tests/ghdl/*.log

# general whitelist
!.publish
!.git*

# GHDL files
*.cf
